<h1> <%= @hero.name %> </h1>

Faction: <%= @hero.faction %> <br>
Role: <%= @hero.role %>  <br>
<h3> Stats </h3>
Health: <%= @hero.stat.health %><br>
Attack: <%= @hero.stat.attack %><br>
Armor: <%= @hero.stat.armor %><br>
Speed: <%= @hero.stat.speed %><br>

Skills: <%= @hero.skills %> <br>
